*{
    margin: 0;
    font-family: sans-serif;
}
.header1{
    width: 100%;
    height: 50px;
    background-color: #673A44;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.texthead{
    display: flex;
    gap: 35px;
}   
.texthead2{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.texthead2:hover{
     filter: blur(5px);
     transition-duration: 1s;
}
.header2{
    width: 100%;
    height: 50px;
    background-color: #F2F2F2;
    display: flex;
    color: #F2F2F2;
    justify-content: space-around;
}
.sect1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
    
}
.texts1{
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.popbes{
    width: 200px;
    background-color: #673A44;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.popbes:hover{
      filter: blur(5px);
     transition-duration: 1s;
}
.its1{
    width: 350px;
    height: 100px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px black;
    border-radius: 15px;
}
.sect1davomsh{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.surat{
    width: 450px;
}
.item{
    width: 250px;
    height: 300px;
    background-color: white;
    padding: 15px;
    box-shadow: 1px 1px 3px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: start;
}
.items{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}
.sur2{
   width: 800px;
}
.sss{
    width: 800px;
    margin: auto;
}
.section2{
    width: 100%;
    height: 650px;
    background-color: #F2F2F2;
}
.divsect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itm{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.cont{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}
.n1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
}
.fax{
    width: 150px;
    padding: 10px;
    text-align: center;
    box-shadow: 0.5px 0.5px 2px black;
    border-radius: 15px;
}
.fox{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.textosh{
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.ohirsh{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    gap: 100px;
}
.divcha{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section4{
    width: 100%;
    background-color:#F2F2F2;
}
.boxcha{
    width: 350px;
    padding: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.boxcho{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.section5{
    margin-top: 70px;
}
.zzz{
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 4px black;
    text-align: center;
    border-radius: 15px;
}
.obshi{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}
.section6{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 100px;
}
.s7{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 100px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.sentr{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}
@media (max-width:510px)
{
    .texthead{
        font-size: 12px;
    }
    .texthead2{
        font-size: 12px;
    }
    .sect1{
        flex-direction: column-reverse;
    }
    .sect1davomsh{
        flex-direction: column;
    }
    .items{
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
    .sur2{
      width: 350px;
    }
    .sss{
        width: 350px;
        margin: auto;
    }
    .surat{
        width: 300px;
        
    }
    .cont{
        flex-direction: column;
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .divsect{
        flex-direction: column;
    }
    .section2{
        height: 1300px;
    }
    .n1{
        flex-direction: column-reverse;
    }
    .fox{
        flex-wrap: wrap;
    }
    .ohirsh{
        flex-direction: column-reverse;
    }
    .poko{
        width: 90%;
    }
    .divcha{
        flex-direction: column;
    }
    .boxcho{
        flex-direction: column;

    }
    .obshi{
        flex-direction: column;
        width: 65%;
        margin: auto;
    }
    .section6{
        flex-direction: column;
        margin-top: 30px;
    }
    .s7{
        flex-direction: column-reverse;
    }
}
@media (max-width:768px)
{
    .cont{
        flex-direction: column;
        width: 45%;
        margin: auto;
        margin-top: 50px;
    }
    .divsect{
        flex-direction: column;
    }
    .section2{
        height: 1300px;
    }
     .n1{
        flex-direction: column-reverse;
    }
    .ohirsh{
        flex-direction: column-reverse;
    }
      .divcha{
        flex-direction: column;
      
        margin: auto;
    }
    .boxcho{
        flex-direction: column;
       
        margin: auto;
    }
    .section6{
        flex-direction: column;
    }
}